<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Участник "вставить никнейм" JMstackoverflow</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div id="content" class="snippet-hidden">
        <div class="d-flex flex-row">
            <div class="p-2">
                <img src="/" width="128px" height="128px"/>
            </div>
            <div class="p-2">
                <div class="d-flex flex-column">
                    <div class="p-2">
                        <h4 class="display-4">Очень большой никнейм</h4>
                    </div>
                    <div class="p-2">
                        <div class="d-flex justify-content-center">
                            <div class="p-2">Откуда участник</div>
                            <div class="p-2">Участник в течении стольки то лет</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-2"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm">
                <h1>Статистика</h1>
                <div class="d-flex bd-highlight">
                    <div class="p-2 flex-fill bd-highlight">
                        <h2>00</h2>
                        репутация
                    </div>
                    <div class="p-2 flex-fill bd-highlight">
                        <h2>00</h2>
                        затронуто
                    </div>
                    <div class="p-2 flex-fill bd-highlight">
                        <h2>00</h2>
                        ответы
                    </div>
                    <div class="p-2 flex-fill bd-highlight">
                        <h2>00</h2>
                        вопросов
                    </div>
                    <div class="p-2 flex-fill bd-highlight">
                        <h2>♕</h2>
                        в лучших ???% за квартал
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <h1>Информация об участнике</h1>
                <div class="d-flex p-2 bd-highlight">Очень большая информация, Очень большая информация, Очень
                    большая информация, Очень большая информация
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Лучшие метки</h2>
            </div>
            <div class="card-body">
                <div class="d-flex flex-column">
                    <div class="p-2">
                        <div class="d-flex bd-highlight">
                            <div class="p-2 flex-fill bd-highlight">
                                <h2>Метка</h2>
                            </div>
                            <div class="p-2 flex-fill bd-highlight">
                                <h2>00</h2>
                                Рейтинг
                            </div>
                            <div class="p-2 flex-fill bd-highlight">
                                <h2>00</h2>
                                Сообщения
                            </div>
                        </div>
                    </div>
                    <div class="p-2">
                        <div class="d-flex bd-highlight">
                            <div class="p-2 flex-fill bd-highlight">
                                <h2>Метка</h2>
                            </div>
                            <div class="p-2 flex-fill bd-highlight">
                                <h2>00</h2>
                                Рейтинг
                            </div>
                            <div class="p-2 flex-fill bd-highlight">
                                <h2>00</h2>
                                Сообщения
                            </div>
                        </div>
                    </div>
                    <div class="p-2">
                        <div class="d-flex bd-highlight">
                            <div class="p-2 flex-fill bd-highlight">
                                <h2>Метка</h2>
                            </div>
                            <div class="p-2 flex-fill bd-highlight">
                                <h2>00</h2>
                                Рейтинг
                            </div>
                            <div class="p-2 flex-fill bd-highlight">
                                <h2>00</h2>
                                Сообщения
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#newMessages" role="tab"
                   aria-controls="home" aria-selected="true">Новые сообщения</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#bestMessages" role="tab"
                   aria-controls="profile" aria-selected="false">Лучшие сообщения</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="newMessages" role="tabpanel" aria-labelledby="home-tab">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">Новые сообщения</h2>
                    </div>
                    <div class="card-body">
                        <div class="d-flex flex-column">
                            <div class="p-2">
                                <div class="d-flex bd-highlight">
                                    <div class="p-2 flex-fill bd-highlight">
                                        <h2>Очень большое сообщение</h2>
                                    </div>
                                    <div class="p-2 flex-fill bd-highlight">
                                        <h2>00</h2>
                                        Рейтинг
                                    </div>
                                    <div class="p-2 flex-fill bd-highlight">
                                        <h2>00</h2>
                                        дата создания
                                    </div>
                                </div>
                            </div>
                            <div class="p-2">
                                <div class="d-flex bd-highlight">
                                    <div class="p-2 flex-fill bd-highlight">
                                        <h2>Очень большое сообщение</h2>
                                    </div>
                                    <div class="p-2 flex-fill bd-highlight">
                                        <h2>00</h2>
                                        Рейтинг
                                    </div>
                                    <div class="p-2 flex-fill bd-highlight">
                                        <h2>00</h2>
                                        дата создания
                                    </div>
                                </div>
                            </div>
                            <div class="p-2">
                                <div class="d-flex bd-highlight">
                                    <div class="p-2 flex-fill bd-highlight">
                                        <h2>Очень большое сообщение</h2>
                                    </div>
                                    <div class="p-2 flex-fill bd-highlight">
                                        <h2>00</h2>
                                        Рейтинг
                                    </div>
                                    <div class="p-2 flex-fill bd-highlight">
                                        <h2>00</h2>
                                        дата создания
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="bestMessages" role="tabpanel" aria-labelledby="profile-tab">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">Лучшие сообщения</h2>
                    </div>
                    <div class="card-body">
                        <div class="d-flex flex-column">
                            <div class="p-2">
                                <div class="d-flex bd-highlight">
                                    <div class="p-2 flex-fill bd-highlight">
                                        <h2>Очень большое сообщение</h2>
                                    </div>
                                    <div class="p-2 flex-fill bd-highlight">
                                        <h2>00</h2>
                                        Рейтинг
                                    </div>
                                    <div class="p-2 flex-fill bd-highlight">
                                        <h2>00</h2>
                                        дата создания
                                    </div>
                                </div>
                            </div>
                            <div class="p-2">
                                <div class="d-flex bd-highlight">
                                    <div class="p-2 flex-fill bd-highlight">
                                        <h2>Очень большое сообщение</h2>
                                    </div>
                                    <div class="p-2 flex-fill bd-highlight">
                                        <h2>00</h2>
                                        Рейтинг
                                    </div>
                                    <div class="p-2 flex-fill bd-highlight">
                                        <h2>00</h2>
                                        дата создания
                                    </div>
                                </div>
                            </div>
                            <div class="p-2">
                                <div class="d-flex bd-highlight">
                                    <div class="p-2 flex-fill bd-highlight">
                                        <h2>Очень большое сообщение</h2>
                                    </div>
                                    <div class="p-2 flex-fill bd-highlight">
                                        <h2>00</h2>
                                        Рейтинг
                                    </div>
                                    <div class="p-2 flex-fill bd-highlight">
                                        <h2>00</h2>
                                        дата создания
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/sidebar.js"></script>
<script type="text/javascript" src="/js/header.js"></script>
<script type="text/javascript" src="/js/footer.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>