<!DOCTYPE html>
<html lang="en">
<head>
    <title>Users -pager</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />
    <base href="/" />
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/pagination.js"></script>
    <script type="text/javascript" src="js/users.js"></script>

</head>
<body>

        <table align="center" width="800px">

            <tr>
                <td align="center">
                    <h6>1. Пример пейджера</h6>
                    <div class="Page navigation example" id="example1"></div>
                    <script>
                        var Data = {"currentPageNumber":7,"totalPageCount":12,"totalResultCount":59,"items":[{"id": 1,"email": "admin@admin.com","fullName": "John Smith","linkImage": "image.link.com","city": "CitiName","reputation": 0,"registrationDate": "2021-10-04T20:29:27.40844"},{"id": 2,"email": "user1@user.com","fullName": " User user1","linkImage": "user1.image.link.com","city": "CitiName1","reputation": 0,"registrationDate": "2021-10-04T20:29:27.417437"},{"id": 3,"email": "user2@user.com","fullName": " User user2","linkImage": "user2.image.link.com","city": "CitiName2","reputation": 0,"registrationDate": "2021-10-04T20:29:27.418437"}],"itemsOnPage": 5};
                        pager.setData(Data, "api/user/new", "page", "items");
                        document.getElementById("example1").insertAdjacentHTML("afterend", pager.getPagerView());
                    </script>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <h6>2. Пример пейджера</h6>
                    <div class="row" id="example2"></div>
                    <script>
                        var Data = {"currentPageNumber":1,"totalPageCount":12,"totalResultCount":59,"items":[{"id": 1,"email": "admin@admin.com","fullName": "John Smith","linkImage": "image.link.com","city": "CitiName","reputation": 0,"registrationDate": "2021-10-04T20:29:27.40844"},{"id": 2,"email": "user1@user.com","fullName": " User user1","linkImage": "user1.image.link.com","city": "CitiName1","reputation": 0,"registrationDate": "2021-10-04T20:29:27.417437"},{"id": 3,"email": "user2@user.com","fullName": " User user2","linkImage": "user2.image.link.com","city": "CitiName2","reputation": 0,"registrationDate": "2021-10-04T20:29:27.418437"}],"itemsOnPage": 5};
                        pager.setData(Data, "api/user/new", "currentPage", "itemsOnPage");
                        document.getElementById("example2").insertAdjacentHTML("afterend", pager.getPagerView());
                    </script>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <h6>3. Пример пейджера</h6>
                    <div class="Page navigation example" id="example"></div>
                    <script>
                        var Data = {"currentPageNumber":1,"totalPageCount":10,"totalResultCount":49,"items":[{"id": 1,"email": "admin@admin.com","fullName": "John Smith","linkImage": "image.link.com","city": "CitiName","reputation": 0,"registrationDate": "2021-10-04T20:29:27.40844"},{"id": 2,"email": "user1@user.com","fullName": " User user1","linkImage": "user1.image.link.com","city": "CitiName1","reputation": 0,"registrationDate": "2021-10-04T20:29:27.417437"},{"id": 3,"email": "user2@user.com","fullName": " User user2","linkImage": "user2.image.link.com","city": "CitiName2","reputation": 0,"registrationDate": "2021-10-04T20:29:27.418437"}],"itemsOnPage": 5};
                        pager.setData(Data, "api/user/vote", "page", "items");
                        document.getElementById("example").insertAdjacentHTML("afterend", pager.getPagerView());
                    </script>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="row justify-content-md-center">
                        <button class="justify-content-center" type="submit" id="submit" onclick="ppager();">Нарисовать пейджер</button>
                    </div>
                    <div class="Page navigation" id="pager"></div>
                </td>
            </tr>

        </table>



</body>
</html>